<form method="post" action="{{ path('app_teste_delete', {'idTeste': teste.idTeste}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ teste.idTeste) }}">
    <button class="btn">Delete</button>
</form>
