{% extends 'base.html.twig' %}

{% block title %}Edit Teste{% endblock %}

{% block body %}

<div class="formDefault">
    <h1 class="text-[4em] md:text-[4vw]">Edit Teste</h1>
    

    
    {{ include('teste/_form.html.twig', {'button_label': 'Update'}) }}
</div>
    <div class="grid grid-cols-2 m-[2em_auto_2em_auto] gap-4">
        <a class="btn bg-gray-400" href="{{ path('app_teste_index') }}">back to list</a>

        {{ include('teste/_delete_form.html.twig') }}
    </div>

    
{% endblock %}
