{% extends 'base.html.twig' %}

{% block title %}New Teste{% endblock %}

{% block body %}
<h1>Nouveau quizz</h1>

{{ include('teste/_form.html.twig') }}

<div class="grid grid-cols-1 m-[0_auto_0_auto]">
<a class="m-[0_auto_2em_auto] btn bg-gray-400" href="{{ path('app_teste_index') }}">back to list</a>
</div>
{% endblock %}
