<form method="post" action="{{ path('app_tentative_delete', {'id': tentative.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tentative.id) }}">
    <button class="btn">Delete</button>
</form>
