{% extends 'base.html.twig' %}

{% block title %}Edit Tentative{% endblock %}

{% block body %}
    <h1>Edit Tentative</h1>

    {{ include('tentative/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_tentative_index') }}">back to list</a>

    {{ include('tentative/_delete_form.html.twig') }}
{% endblock %}
