{% extends 'base.html.twig' %}

{% block title %}Tentative index{% endblock %}

{% block body %}
    <h1>Tentative index</h1>


    <div class="amazonTypeList">
        {% for tentative in tentatives %}
            <div class="case">
            <div class="title">{{ tentative.dateTentative ? tentative.dateTentative|date('Y-m-d H:i:s') : '' }}</div>
                
            <div class="show"><a href="{{ path('app_tentative_show', {'id': tentative.id}) }}">show</a></div>
            <div class="edit"><a href="{{ path('app_tentative_new', {'id': tentative.teste.id}) }}">Repasser</a></div>
            </div>

        {% else %}
            <h2 class="rien">no records found</h2>
        {% endfor %}
    </div>

{% endblock %}
