{% extends 'base.html.twig' %}

{% block title %}New Tentative{% endblock %}

{% block body %}
    <h1>Create new Tentative</h1>

    {{ include('tentative/_form.html.twig') }}

    {% for question in questions %}
        <p>test</p>
        <select name="marque">
            <option value="0" >Choix de la marque</option>

        </select>
    {% endfor %}


    <a href="{{ path('app_tentative_index') }}">back to list</a>
{% endblock %}
