{% extends 'base.html.twig' %}

{% block title %}Tentative{% endblock %}

{% block body %}
    <h1>Tentative</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tentative.id }}</td>
            </tr>
            <tr>
                <th>DateTentative</th>
                <td>{{ tentative.dateTentative ? tentative.dateTentative|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_tentative_index') }}">back to list</a>
{% endblock %}
