{% extends 'base.html.twig' %}

{% block title %}Tentative{% endblock %}

{% block body %}
    <h1>Tentative</h1>    

    <div class="amazonTypeList">
        <div class="case">
        <div class="title">Id: {{ tentative.id }}</div>
        <div class="title2">{{ tentative.dateTentative ? tentative.dateTentative|date('Y-m-d H:i:s') : '' }}</div>
        </div>
    </div>

    <div class="grid grid-cols-1 m-[2em_auto_2em_auto] gap-4">
    <a class="btn bg-gray-400" href="{{ path('app_tentative_index') }}">back to list</a>
    </div>
{% endblock %}
