{% extends 'base.html.twig' %}

{% block title %}Edit CritereSolution{% endblock %}

{% block body %}
    <h1>Edit CritereSolution</h1>

    {{ include('critere_solution/_form.html.twig', {'button_label': 'Update'}) }}


    <div class="grid grid-cols-2 m-[0_auto_0_auto]">
        <a class="btn bg-gray-400" href="{{ path('app_critere_solution_index') }}">back to list</a>

        {{ include('critere_solution/_delete_form.html.twig') }}
    </div>
{% endblock %}
