{% extends 'base.html.twig' %}

{% block title %}CritereSolution index{% endblock %}

{% block body %}
    <h1>CritereSolution index</h1>
    
    <a class="btn bg-blue-600 justify-self-center" href="{{ path('app_critere_solution_new') }}">Create new</a>

    <div class="amazonTypeList">

        {% for critere_solution in critere_solutions %}
            <div class="case">
                <div class"titre">{{ critere_solution.point }}</div>
                <a class="show" href="{{ path('app_critere_solution_show', {'id': critere_solution.id}) }}">show</a>
                <a class="edit" href="{{ path('app_critere_solution_edit', {'id': critere_solution.id}) }}">edit</a>
            </div>
        {% else %}
                <h2 class="rien">no records found</h2>
        {% endfor %}

    </div>
{% endblock %}
