@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgba(235, 235, 255, 0.1);
    object-fit: fill;
}

.sideBarOptions {
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
    justify-items: center;
    color: #ebebff;
    transition: 300ms ease-in-out;
}


.sideBarOptions:hover {
    background-color: rgba(1, 255, 98, 0.603);
    color: #272D3C; 
}

.backgroundDesktop {
    background-image: url('../../public/resrc/DesktopBg3.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.backgroundMobile {
    background-image: url('../../public/resrc/MobileBg3.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    background-image: url('../../public/resrc/StonksQuizz.png');
}
/*
.formDefault {
    align-self: center;
    justify-self: center;
    width: 50vh;
    display: grid;
    grid-template-rows: 3em;
    grid-auto-rows: 5em;
    align-content: center;
    gap:2em;
    
}
*/
form {
    justify-self: center;
}

h1, h2, h3, h4 {
    text-align: center;

}

h1 {
    font-size: calc(16pt + 3vw);
}

h2 {
    font-size: xx-large;
}

h3 {
    font-size: x-large;
}

h4, label {
    font-size: large;
}

.field {
    display: grid;
    grid-template-rows: auto auto;
}


form button, .add_critere_link, .add_question_link, .add_solution_link {
    background-color: #ACB5B5;
    border-radius: 10px;
    width: 15vw;
    min-width: 8em;
    height: 2em;
    margin: 0 auto 0 auto;
    transition: 300ms ease-in-out;
    color: white;
}

form button:hover {
    background-color: #d2dede;
}

button[type=submit], input[type=submit] {
    margin-top: 2em;
    background-color: #5A5BFF;
    width: 20vw;
}

form button[type=submit]:hover {
    background-color: #8383ff;
}

form div {
    margin-top: 0.5em;
    display: grid;
    grid-auto-rows: auto;
    gap: 1.25em;
}


form input, select, textarea {
    border: solid 2px #5A5BFF;
    background-color: white;
    width: 90%;
    height: 2.5em;
    padding-left: 2%;
    margin-left: auto;
    border-radius: 10px;
}

input[type=file] {
    border: none;
    background-color: transparent;
}

textarea {
    padding-left: 2%;
}

.ulRelou button {
    margin-bottom: 2em;
}

.ulRelou li div {
    display: grid;
    grid-auto-rows: auto;
    gap: 1.25em;
}


.liRelou {
    display: grid;
    grid-auto-rows: auto;
    gap: 1.25em;
    margin-bottom: 5%;
}

.liRelou div div {
    display: grid;
    gap: 1.25em;
}

.btn {
    border-radius: 10px;
    width: 10vw;
    min-width: 8em;
    height: 2em;
    transition: 300ms ease-in-out;
    text-align: center;
    color: white;
}


.btn:hover {
    background-color: gainsboro;
}

.checkbox {
    align-self: center;
    justify-content: start;
}

.checkbox label, .checkbox input {
    grid-row-start: 1;
    align-self: center;
}


.amazonTypeList {
    margin: 0 auto 0 auto;
    width: 80%;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, 16em);
    justify-content: space-around;
    row-gap: 2em;

}

.rien {
    grid-column: 1/-1;
}


.case {
    background-color: #272d3c99;
    height: 20em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10em;
    grid-auto-rows: auto;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
}


.image {
    grid-row: 1;
    grid-column: 1/-1;
}

.image img {
    overflow-x: hidden;
    height: 100%;
    object-fit: cover;
}


.title {
    
    text-overflow: ellipsis;
    grid-column: 1/-1;
    grid-row: 2;
    overflow: hidden;
    white-space: nowrap;
    font-size: x-large;
}

.title2 {
    text-overflow: ellipsis;
    grid-column: 1/-1;
    grid-row: 3;
    overflow: hidden;
    white-space: nowrap;
    font-size: x-large;
}

.try {
    grid-column: 2;
    grid-row: 3;
    background-color: #5A5BFF;
}

.try:hover {
    background-color: #8383ff;
}

.myTries {
    grid-column: 1;
    grid-row: 3;
    background-color: #bdbdfc;
}

.myTries:hover {
    background-color: #d7d7ff;
}

.show {
    grid-column: 2;
    grid-row: 4;
    background-color: #a8aebd;
}

.show:hover {
    background-color: #c6cad3;
}

.edit {
    grid-column: 1;
    grid-row: 4;
    background-color: #5f6064;
}

.edit:hover {
    background-color: #8f9198;
}

.case a {
    height: 2em;
    border-radius: 10px;
    width: 90%;
    justify-self: center;
    transition: 300ms ease-in-out;
}

.carousel {
    margin-top: 2%;
    justify-self: center;
    width: 16em;
    height: 30em;
    overflow: auto;
    display: grid;
    grid-template-rows: 20em 3em;
    grid-template-columns: 100%;
    grid-auto-flow: column;
    grid-auto-columns: 16em;
    gap: 3px;
    overflow-x: hidden;
}

.empty {
    height: 3em;
    overflow-y: hidden;
}

.carouselBtn {
    grid-row: 2;
    grid-column: 1;
    border: solid 2px red;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
}

.carouselBtn button {
    width: 2em;
}


.card {
    grid-row: 1;
    background-color: #272d3c99;
    width: 100%;
    height: 100%;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10em;
    grid-auto-rows: auto;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;

    transition: 1s;
}

.card a {
    height: 2em;
    border-radius: 10px;
    width: 90%;
    justify-self: center;
    transition: 300ms ease-in-out;
}