@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgba(235, 235, 255, 0.1);
    object-fit: fill;
}

.sideBarOptions {
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
    justify-items: center;
    color: #ebebff;
    transition: 300ms ease-in-out;
}


.sideBarOptions:hover {
    background-color: rgba(1, 255, 98, 0.603);
    color: #272D3C; 
}

.backgroundDesktop {
    background-image: url('../../public/resrc/DesktopBg3.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.backgroundMobile {
    background-image: url('../../public/resrc/MobileBg3.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    background-image: url('../../public/resrc/StonksQuizz.png');
}

.formDefault {
    align-self: center;
    justify-self: center;
    width: 50vh;
    display: grid;
    grid-template-rows: 3em;
    grid-auto-rows: 5em;
    align-content: center;
    gap:2em;
    
}

.formDefault h1 {
    font-size: xx-large;
    text-align: center;
}

.field {
    display: grid;
    grid-template-rows: auto auto;
}

.formDefault input {
    border-radius: 10px;
    border: solid 2px #5A5BFF;
}

.formDefault button {
    background-color: #5A5BFF;
    border-radius: 10px;
    width: 20vw;
    height: 50%;
    margin: 0 auto 0 auto;
}


