@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgba(235, 235, 255, 0.1);
    object-fit: fill;
}

.sideBarOptions {
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
    justify-items: center;
    color: #ebebff;
    transition: 300ms ease-in-out;
}


.sideBarOptions:hover {
    background-color: rgba(1, 255, 98, 0.603);
    color: #272D3C; 
}

.backgroundDesktop {
    background-image: url('../../public/img/DesktopBg3.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.backgroundMobile {
    background-image: url('../../public/img/MobileBg3.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    background-image: url('../../public/img/StonksQuizz.png');
}