{% extends 'base.html.twig' %}

{% block title %}Envoyer un message{% endblock %}

{% block body %}
    <h1>Envoyer un message</h1>

    {% for flashMessage in app.session.flashbag.get('success') %}
        <p>{{ flashMessage }}</p>
    {% endfor %}
    {{ include('message/_form.html.twig') }}
{% endblock %}
