{% extends 'base.html.twig' %}

{% block title %}Hello UserDashboardController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <p><a href="/register">register</a></p>
    <p><a href="/login">login</a></p>
    <p><a href="/reset-password">reset-password</a></p>
</div>

{% endblock %}
