{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<h1>Connectez-vous !</h1>
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    
    <div class="field">
        <label for="inputUsername">Username</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
    </div>
    <div class="field">
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    </div>
    <div class="checkbox">
        <label>Remember me</label>
        <input type="checkbox" name="_remember_me">
    </div>
    

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <button type="submit">Se connecter</button>
</form>

<div class="grid grid-cols-2 m-[0_auto_0_auto] gap-4">
    <a class="btn bg-gray-400" href="/register">register</a>
    <a class="btn bg-gray-400" href="/reset-password">reset-password</a>
</div>
{% endblock %}
