{% for teste in field.value %}
<ul> <!-- liste des questions -->
        {% for question in teste.questions %}
            <li>{{question.question }}</li>
                <ul> <!-- liste des solutions-->
                    {% for solution in question.solutions %}
                        <li>{{solution.nomSolution}} :  {{solution.critere}} {{solution.point}} </li>
                    {% endfor %}
                </ul>
        {% endfor %}
    </ul>
{% endfor %}